div.pivotal-labs {
  background-image: url(../img/PivotalLabs-Logo-OnDark.png);
  height: 100px;
  width: 419px;
}

div.jasmine {
  background-image: url(../img/jasmine_vertical.png);
  height: 190px;
  width: 190px;
}

div.angular {
  background-image: url(../img/angular.png);
  height: 190px;
  width: 175px;
}

div.logo {
  background-size: 100% 100%;
  margin-top: 100px;
  float: right;
}

p code {
  color: #00A28D;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.highlight {
  font-weight: bold;
  color: #1b91ff;
}

.red {
  color: #ff2c2d;
}

.green {
  color: #17ff2e;
}

.columns {
  display: flex;
}

.columns div {
  flex: 1;
}

.columns div:not:last-child {
  margin-right: 2em;
}

.large {
  font-size: 2em !important;
}

.right-arrow:before {
  content: '→';
  padding: 0 .2em;
}

.reveal .slides section .display-none.fragment.current-visible:not(.current-fragment) {
  display: none
}

h1, h2 {
  word-spacing: 10px;
}
